
*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    display: flex;
    gap: 100px;
}
.button{
    margin-top: 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px ;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
   
}

.button:hover{
    transform: scale(1.04);
    background-color: #21e065;

}
#numberOfGap{
  margin-top: 10px;
  padding-top: 10px;
padding-bottom: 10px;
}
#number1{
padding-top: 10px;
padding-bottom: 10px;
}
#number2{
  padding-top: 10px;
padding-bottom: 10px;
}
#number3{
  padding-top: 10px;
padding-bottom: 10px;
}
.functions{
  display: flex;
  justify-content: center;
}
.Group1{
 color: #fff;
  text-align: center;
  background-image: url("Whiteboard-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.Group2{
  color: #fff;
  text-align: center;
  background-image: url("Whiteboard-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.simulation{
    color: aquamarine;
    display: flex;
    height: 740px;
    width: 700px;
    font-weight: 900;
    background-image: url("Whiteboard-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

}
.box-1{
  
  background-color: red;
  height: 80px;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-style: solid;
  border-color: lightcoral;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.box-2{
    background-color: yellow;
    height: 80px;
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-style: solid;
    border-color: lightcoral;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .box-3{
    background-color: blue;
    height: 80px;
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-style: solid;
    border-color: lightcoral;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  input[type="number"]{
    text-align: center;
  }
